//Join Room styles
.joinRoom {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  .inputField {
    width: 100%;
  }
}

//profile header styles
.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  img {
    border-radius: 50%;
    border: 1px dashed whitesmoke;
  }
  span {
    font-size: 1.2em;
    .displayName {
      font-weight: bold;
      font-style: italic;
    }
  }
}

//join existing styles
.joinExisting {
  * {
    color: whitesmoke;
  }
}

.roomChatContainer {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 30% 70%;
}

// user info container styles
.userInfoContainer {
  border: 1px solid rgba(245, 245, 245, 0.39);
  padding: 1rem;
  border-radius: 10px;
  background: linear-gradient(to top, #242424 0%, black 100%);
}
//accordion styles
.Accordion {
  background: transparent !important;
  color: whitesmoke !important;
  border: 1px solid rgba(245, 245, 245, 0.253);
  border-radius: 15px !important;
  margin-top: 1rem;
  * {
    background: transparent;
    color: whitesmoke;
    font-size: 0.9rem;
    margin: 5px 0;
  }
}
//messages container
.messagesContainer {
  overflow-x: hidden;
  overflow-y: auto;
}

// input styles
.inputContainer {
  width: 70%;
  background: #252525;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.inputField {
  background: #ffffff28;
  border-radius: 10px;
  width: 95%;
  * {
    border: transparent !important;
    outline: transparent !important;
    color: whitesmoke !important;
  }
}
.sendButton {
  cursor: pointer;
}

//create room btn
.createRoom {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
